# Default ignored files
/../../../../:PycharmProjects/scrapping/.idea/shelf/
/../../../../:PycharmProjects/scrapping/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/scrapping/.idea/dataSources/
/../../../../:PycharmProjects/scrapping/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/scrapping/.idea/httpRequests/
